/*contains basic classes, atrributes, and properties for every webpage*/

/*BASIC ATTRIBUTES*/
html {
    scroll-behavior:smooth;/*internal links now scroll there instead of teleport*/
}
body {/*GENERAL SIZE SPACING TEXT*/
    /*Raleway, Trebuchet MS, Libre Baskerville - for text,  Julius Sans One - for links*/
    margin:5vw;
    position:relative;

    line-height:3em;
    font-family: Raleway, Trebuchet MS, sans-serif;
    font-size:1.05vw;/*roughly 20px*/
}
h1 {
    margin:0;
}
h2 {
    font-size:2.1vw;/*roughly 40px*/
}
p {
    font-size:2.1vw;
    margin:2vw;
}
img {
    margin:2vw;
}

/*USEFUL CLASSES*/
.spacer {
    clear:both;
    height:10vh;
    position:relative;/*IDK if this will help the spacer interact with anything*/
}
.vertical-center-helper {/*allows elements to be vertically centered*/
    display:table-cell;/*I think this allows the helper to use vertical-align*/

    width:100%;

    vertical-align:middle;/*do position calculuations from the middle of the element*/
    position:absolute;
    top:50%;/*centers the thing vertically*/
}